<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="/Codo_Codo_Python_Grupo_24/static/css/header-footer.css">
    <link rel="stylesheet" href="/Codo_Codo_Python_Grupo_24/static/css/formulario-style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/Codo_Codo_Python_Grupo_24/static/Img/fideos.ico.ico" type="img/x-icon">
</head>

<body>
    <header id="header">
        <a class="logo" href="/Codo_Codo_Python_Grupo_24/index.html">
            <img src="/Codo_Codo_Python_Grupo_24/static/img/Logo_1.png" alt="Logo">
        </a>
        <nav class="navegacion">
            <ul>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/categoria.html?clave=1">Categorías</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/formulario.html">Suscripción</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/quienes-somos.html">¿Quiénes somos?</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/lista-productos.html">Admin</a></li>
            </ul>
        </nav>
        <div class="barra-busqueda">
            <i class="fa fa-search" aria-hidden="true"></i> <!-- ícono de FontAwesome -->
            <input type="text" placeholder="Buscar tu alimento...">
        </div>
        <div id="espacio-celular"></div>
        <div class="carrito">
            <img src="/Codo_Codo_Python_Grupo_24/static/img/carrito-de-compras.png" alt="Carrito">
        </div>
        <input type="checkbox" id="toggle-menu">
        <label for="toggle-menu" class="hamburguesa">&#9776;</label>
        <nav class="menu-desplegable">
            <ul>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/categoria.html?clave=1">Categorías</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/formulario.html">Suscripción</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/quienes-somos.html">¿Quiénes somos?</a></li>
                <li><a href="/Codo_Codo_Python_Grupo_24/templates/lista-productos.html">Admin</a></li>
            </ul>
        </nav>
    </header>

    <div class="separador-header"></div>

    <form id="formulario" method="post">
        <h4>Formulario Registro</h4>
        <p>
            <input id="nombre" name="nombre" type="text" placeholder="Ingrese su nombre">
        </p>
        <p>
            <input id="apellido" name="apellido" type="text" placeholder="Ingrese su apellido">
        </p>
        <p>
            <input id="email" name="email" type="email" placeholder="Ingrese su email">
        </p>
        <p>
            <input id="dni" name="dni" type="number" placeholder="Ingrese su numero de documento">
        </p>
        <p>
            <input id="tel" name="tel" type="number" placeholder="Ingrese su número de teléfono">
        </p>
        <p>
            <label class="informacion">Género:</label><br>
        </p>
        <div id="contenedor-genero">
            <div><input type="radio" id="masculino" class="genero" name="genero" value="masculino"> Masculino</div>
            <div><input type="radio" id="femenino" class="genero" name="genero" value="femenino"> Femenino</div>
            <div><input type="radio" id="no-binario" class="genero" name="genero" value="no-binario"> No binario</div>
        </div>
        <p>
            <br>
            <label class="informacion" for="nacionalidad">Nacionalidad:</label>
            <select id="nacionalidad" name="nacionalidad">
                <option value="">Seleccione su nacionalidad</option>
                <option value="argentina">Argentina</option>
                <option value="bolivia">Bolivia</option>
                <option value="brasil">Brasil</option>
                <option value="chile">Chile</option>
                <option value="colombia">Colombia</option>
                <option value="ecuador">Ecuador</option>
                <option value="paraguay">Paraguay</option>
                <option value="peru">Perú</option>
                <option value="uruguay">Uruguay</option>
                <option value="venezuela">Venezuela</option>
            </select>
        </p>
        <p>
            <label class="informacion" for="foto">Cargar Foto:</label>
            <input type="file" id="foto" name="foto" accept="image/*">
        </p>
        <p class="frase">Estoy de acuerdo con <a href="#">Términos y condiciones</a></p>
        <button type="submit">Registrar</button>
        <p id="error" class="error"></p>
    </form>    

    <!-- Pie -->
    <footer id="footer">
        <div class="contenido-footer">
            <p>Dirección: Avenida 9 de Julio 1368, Bueno Aires, Argentina</p>
            <p>Teléfono: +123456789</p>
            <p>Correo electrónico: contactobambu@bambusabores.com</p>
        </div>
        <div class="contenido-footer">
            <p>&copy; 2024 Bambu y Sabores. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="/Codo_Codo_Python_Grupo_24/static/js/formulario-script.js"></script>

</body>

</html>